@font-face {
  font-family: Golos;
  src: url(./../fonts/GolosText-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.head1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background-color: #f4f5f8;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 40px;
}
.logo img {
  width: 24px;
  height: 24.002px;
  flex-shrink: 0;
}
.logo p {
  color: var(--text-black, #161616);
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
.server {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.email p {
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/S */
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.email h1 {
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/S */
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-right: 40px;
}
.order h2 {
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/S */
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.order h3 {
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/S */
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.head2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
}
.server2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  gap: 8px;
}
.server2 h1 {
  color: var(--text-black, #161616);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--background-gray, #f4f5f8);
}
.server2 h2 {
  color: var(--text-black, #161616);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-gray, #f4f5f8);
}
.server2 h3 {
  color: var(--text-black, #161616);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-gray, #f4f5f8);
}
.server2 h4 {
  color: var(--text-black, #161616);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-gray, #f4f5f8);
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  gap: 8px;
}
.right button {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--background-gray, #f4f5f8);
  border: none;
}
.right h1 {
  color: var(--text-white, #fff);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-black, #202226);
}
.section1 {
  margin-left: 40px;
  margin-top: 60px;
}
.section1 h1 {
  color: var(--text-black, #161616);
  /* Desktop/Headline/H1 */
  font-family: Golos;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}
.section1 h2 {
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  margin-top: 60px;
  margin-bottom: 24px;
  width: 592px;
}
.section1 p {
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  width: 592px;
}
.section2 {
  margin-left: 40px;
  margin-top: 60px;
}
.section2 h1 {
  width: 592px;
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  margin-bottom: 24px;
}
.section2 p {
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 20px;
}
.section3 {
  margin-left: 40px;
  margin-top: 36px;
}
.section3 h1 {
  width: 592px;
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  margin-bottom: 24px;
}
.section3 p {
  width: 592px;
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.section4 {
  margin-top: 60px;
  margin-left: 40px;
}
.section4 h1 {
  margin-bottom: 24px;
  width: 592px;
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
}
.section4 p {
  width: 592px;
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 20px;
}
.section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 404px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--background-black, #202226);
  margin-left: 40px;
  gap: 117px;
}
.left-elements {
  margin-top: 60px;
  margin-bottom: 140px;
  margin-left: 40px;
}
.left-elements h1 {
  width: 451px;
  color: var(--text-white, #fff);
  /* Desktop/Headline/H1 */
  font-family: Golos;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  margin-bottom: 20px;
}
.left-elements p {
  width: 451px;
  color: var(--text-gray-dark-bg, #9f9f9f);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.right-elements h4 {
  width: 552px;
  color: var(--text-gray-dark-bg, #9f9f9f);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 16px;
}
.right-elements hr {
  width: 552px;
  height: 2px;
  background: #fff;
  margin-bottom: 36px;
}
.right-elements h3 {
  width: 552px;
  color: var(--text-gray-dark-bg, #9f9f9f);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 16px;
}
.right-elements h2 {
  width: 552px;
  color: var(--text-gray-dark-bg, #9f9f9f);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 16px;
}
.right-elements button {
  color: var(--text-black, #161616);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-white, #fff);
  margin-top: 8px;
}
.foot {
  width: 1280px;
  height: 568px;
  flex-shrink: 0;
  background: var(--background-gray, #f4f5f8);
  margin-top: 120px;
}
.foot-head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
  margin-bottom: 24px;
  margin-left: 40px;
}
.foot-head img {
  width: 24px;
  height: 24.002px;
  flex-shrink: 0;
}
.foot-head p {
  color: var(--text-black, #161616);
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
.foot hr {
  width: 1200px;
  height: 1px;
  background-color: #e9e9e9;
  text-align: center;
  margin-left: 40px;
}
.elements {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
}
.element1 {
  margin-right: 223px;
}
.element1 p {
  width: 389px;
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
}
.element1 h4 {
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.element1 h5 {
  color: var(--text-black, #161616);
  font-feature-settings: "liga" off;
  /* Desktop/Headline/H3 */
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
}
.btns {
  display: flex;
  gap: 9px;
  margin-top: 24px;
  margin-bottom: 62px;
}
.btns button {
  color: var(--text-white, #fff);
  /* Desktop/Button/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--background-black, #202226);
  border: none;
}
.last {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.last button {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--border-or-devider-light-bg, #e9e9e9);
}
.last img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.last p {
  width: 193px;
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 15px;
}
.element2 {
  margin-right: 16px;
  margin-bottom: 120px;
}
.element2 h1 {
  margin-bottom: 32px;
  color: var(--text-black, #161616);
  /* Desktop/Headline/H4 */
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
}
.element2 p {
  width: 288px;
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 12px;
}
.element3 {
  margin-bottom: 145px;
}
.element3 h1 {
  width: 288px;
  color: var(--text-black, #161616);
  /* Desktop/Headline/H4 */
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  margin-bottom: 28px;
}
.element3 p {
  width: 288px;
  color: var(--text-black, #161616);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 12px;
}
.foot-foot {
  display: flex;
  margin-top: 24px;
  margin-left: 40px;
  gap: 487px;
}
.foot-foot h1 {
  color: var(--text-gray-light-bg, #757575);
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.foot-foot p {
  color: var(--text-gray-light-bg, #757575);
  text-align: right;
  /* Desktop/Body/M */
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
